@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap'); */
body{
    background-color: #1f2937;
    overflow-x: hidden;
    overflow-y: auto;
}